
*{
    padding: 0;
    margin: 0;
}
.my-background-cover{
    background-image: url(../img/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
}
#navbarSupportedContent{
    padding-right: 3rem !important;
}