*{
    padding: 0;
    margin: 0;
}
.hero-side{
    background-image: url(../img/p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
    height: 15rem;
}